<div class="container-fluid my-5">
    <div class="row">
      <div class="col-4">
        <h2 class="text-center mt-4">About Me</h2>
      </div>
      <div class="col-8">
        <p class="me-5 p-3 pe-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ea quidem praesentium
          dolores itaque
          repellendus qui natus molestias repellat a voluptas obcaecati iusto iste earum porro magnam doloremque tempora
          nesciunt ab, modi quo similique distinctio minima! Ad explicabo excepturi nulla Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Dolorem, dolor! Placeat consectetur, inventore dicta maiores ipsam aut quis itaque
          ratione magni sapiente quaerat? Explicabo fugiat laborum veritatis, unde ut, blanditiis corrupti ex repellendus
          quibusdam dolorum, a consectetur eum! Quibusdam, vero.</p>
        <a href="./app.component.html" download="" class="text-center px-4 py-2 ms-3 bg-dark text-light" style="text-decoration: none;">Download Resume</a>
      </div>
    </div>
  </div>