<div class="container-fluid my-5 bg-dark p-5 text-light">
    <div class="row">
        <div class="col-12 text-center px-5">
            <h1 class="mt-3">Skills</h1>
            <p class="mt-5 px-5">Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur,
                adipisicing
                elit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. adipisicing elit. Odio cumque deserunt
                quod
                aperiam temporibus hic voluptatem at iste dolorum culpa! Lorem, ipsum dolor sit amet consectetur
                adipisicing
                elit. Tenetur eligendi voluptates odio? Quisquam laudantium magni inventore iusto incidunt debitis
                deserunt
                perferendis quo. Asperiores expedita ut, itaque totam necessitatibus ipsa. Odio?</p>
            <div class="row ms-5 ps-5 py-5">
                <div class="col-4 ms-5 ps-4 mt-4">
                    <div class="pt-5">
                        <h3>MY FOCUS</h3>
                        <hr>
                        <h5>UI/UX Design</h5>
                        <h5>Responsive Design</h5>
                        <h5>Web Design</h5>
                        <h5>Mobile App Design</h5>
                    </div>
                </div>
                <div class="col-6 ms-5 ps-5" *ngFor="let skill of skillslist">
                    <app-skillslist></app-skillslist>
                    <!-- <div class="skills">
                        <div class="progress" style="height: 30px;">
                            <p
                                style="width: 100px ;padding-top:6px;text-align:center ; height: 30px; background-color: rgb(114, 69, 11)">
                                HTML</p>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 70%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="fs-6 fw-lighter"></p>

                        <div class="progress" style="height: 30px;">
                            <p
                                style="width: 110px;padding:6px 0px;text-align:center ; height: 30px; background-color: rgb(114, 69, 11)">
                                CSS</p>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 90%;"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="fs-6 fw-lighter"></p>

                        <div class="progress" style="height: 30px;">
                            <p
                                style="width: 100px ;padding-top:6px;text-align:center ; height: 30px; background-color: rgb(114, 69, 11)">
                                PHP</p>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;"
                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="fs-6 fw-lighter"></p>

                        <div class="progress" style="height: 30px;">
                            <p
                                style="width: 100px ;padding-top:6px;text-align:center ; height: 30px; background-color: rgb(114, 69, 11)">
                                JAVASCRIPT</p>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 30%;"
                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="fs-6 fw-lighter"></p>

                        <div class="progress" style="height: 30px;">
                            <p
                                style="width: 100px ;padding-top:6px;text-align:center ; height: 30px; background-color: rgb(114, 69, 11)">
                                REACT</p>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="fs-6 fw-lighter"></p>

                        <div class="progress" style="height: 30px;">
                            <p
                                style="width: 120px ;padding:7px 0px;text-align:center ; height: 30px; background-color: rgb(114, 69, 11)">
                                PHOTOSHOP</p>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 100%;"
                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="fs-6 fw-lighter"></p>

                        <div class="progress" style="height: 30px;">
                            <p
                                style="width: 100px ;padding-top:6px;text-align:center ; height: 30px; background-color: rgb(114, 69, 11)">
                                Adobe XD</p>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 80%;"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="fs-6 fw-lighter"></p>

                        <div class="progress" style="height: 30px;">
                            <p
                                style="width: 100px ;padding-top:6px;text-align:center ; height: 30px; background-color: rgb(114, 69, 11)">
                                WordPress</p>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>