<div class="container my-5">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4 p-5">
                <img [src]="productDetails.image" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8 my-5">
                <div class="card-body m-5">
                    <h5 class="card-title">{{productDetails.title}}</h5>
                    <p class="card-text">{{productDetails.category}}</p>
                    <p class="card-text">Price : {{productDetails.price | currency:'EGP '}}</p>
                    <p class="card-text" [ngStyle]="{'color' :productDetails.rating.count !=0? 'green' : 'red'}">count
                        {{productDetails.rating.count}}</p>
                    <button class="btn btn-primary">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>