
<div class="card h-100 w-100">
<img [src]="cardTitle.image" style="height: 400px;padding: 50px;" alt="">
<div class="card-body text-center">
    <h5 class="card-title">{{cardTitle.title}}</h5>
    <p class="card-text">{{cardTitle.category}}</p>
    <p class="card-text">Price : {{cardTitle.price | currency:'EGP'}}</p>
    <p class="card-text" [ngStyle]="{'color' :cardTitle.rating.count !=0? 'green' : 'red'}">{{cardTitle.rating.count | pipecount}}</p>
    <button  class="btn btn-primary mt-auto">Add To Cart</button>
</div>
</div>