<!-- lab1 -->
<!-- <app-header></app-header>
<app-about></app-about>
<app-section-one></app-section-one>>
<app-section-two></app-section-two>
<app-footer></app-footer> -->

<!-- lab2 -->
<!-- <app-navbar></app-navbar>
<app-carousel></app-carousel>
<app-header2></app-header2>
<app-content></app-content>
<app-footer2></app-footer2> -->

<!-- lab3 task 1-->
<!-- <app-navbar1></app-navbar1>
<app-content3></app-content3> -->

<!-- lab3 task 2 -->
<!-- <app-todo></app-todo> -->

<!-- lab 4 task 1 -->
<!-- <app-navbar1></app-navbar1>
<app-login></app-login> -->

<!-- lab 5 - 6 -->
<app-navbar1></app-navbar1>
<router-outlet></router-outlet>
