<div class="container-fluid"
  style="background-image: url(../assets/img/slider-01.jpg);height: 500px;background-position: center;background-size: cover;">
  <div style="width: 400px;padding-top: 8rem; text-align: center;padding-left: 2rem;">
    <h1 style="color: wheat;">{{  userName  }}</h1>
    <h4 style="color: wheat;padding-top: 2rem;margin-bottom: 50px;">{{jobTitle}}</h4>
    <a href="#footer"
      style="color: wheat; border: 1px solid wheat;margin:3rem 8rem;padding: .5rem; background-color: transparent;text-decoration: none;">{{message}}</a>
  </div>
</div>