<div class="container my-5 pt-5">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row align-items-center">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td class="d-flex">
          <button class="btn btn-success me-2" (click)="incresaseCounter()">Incresase</button>
          <h3>{{counter}}</h3>
          <button class="btn btn-danger ms-2" (click)="decresaseCounter()">Decresase</button>
        </td>
      </tr>

    </tbody>
  </table>

</div>